/* GLOBAL
-------------------------------------------------*/
html {
    box-sizing: border-box;
    font-size: 85%;
    @include breakpoint(small) {
        font-size: 90%;
    }
    @include breakpoint(large) {
        font-size: 100%;
    }
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

body {
    margin: 0;
    color: $colorBase;
    font-family: $fontFamilyPrimary;
    font-size: 0.875rem;
    line-height: 1.6;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.mapouter {
  position: relative;
  text-align:right;
  height:450px;
  width:100%;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 450px;
  width: 100%;
}
